<!--DOCTYPE= ist ein tag, html= ein attribute-->
<!DOCTYPE html>
<!--lang"de": ist der Wert von dem Attribute-->

<html lang="de">
<head>
    <meta charset="UTF-8">

    <title>Primitive Html Css Layout with Pretty Background 🎨 </title>
    <link rel="stylesheet" href="/styles/style.css">

</head>
<body>

<div class="container">
    <!-- Start of Page Header -->
    <div class="item head">
        <h1><a href="index.html">WebsiteName</a></h1>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="contactPage.html">Contact</a></li>
        </ul>
    </div>
    <!-- Start of page Navbar-->
    <div class="item nav">NavBar</div>
    <!-- Start of page body-->
    <div class="item body">
        <h2>Simple JS Todolist</h2>
        <input type="text">
        <button>Add New Task</button>

    </div>
    <!-- Start nav menu left-->
    <div class="item smL">Side Nav Menu L</div>
    <!-- Start nav menu left-->
    <div class="item smR">Side Nav Menu R</div>
    <!-- Start of the footer-->
    <div class="item fu">Footer</div>
</div>

</body>
</html>